body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

* {
    font-family: 'Roboto', sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-name {
    color: red;
    font-family: 'Kenia';
    text-decoration: none;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.splash>span {
    color: red;
    font-size: 400px;
    font-family: 'Kenia';
}

.splash-animation {
    animation: textgrowth 5s infinite;
}

@keyframes textgrowth {
    0% {
        font-size: 400px;
    }

    100% {
        font-size: 5000px;
    }
}

.select-user {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.select-user>.app-name {
    margin: 10px;
}

.select-user>.users-panel {
    display: flex;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.select-user>.users-panel>.users-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.user-item {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    align-items: center;
    flex-direction: column;
}

.user-item>div {
    width: 120px;
    height: 110px;
    cursor: pointer;
    position: relative;
    margin-bottom: 15px;
    background-size: cover;
    border: 2px solid transparent;
    background-position: center;
    background-repeat: no-repeat;

}

.user-item:hover>div {
    border-color: white !important;
}

.user-item:hover>span {
    font-weight: bold;
}

.user-item>.default>.eyes {
    display: flex;
    margin-top: 25%;
    padding-left: 17%;
    padding-right: 17%;
    justify-content: space-between;
}

.user-item>.default>.eyes>div {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: white;
}

.user-item>.default>.mouth {
    height: 45px;
    width: 5px;
    background-color: transparent;
    border-radius: 150px 20px 20px 150px;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    transform: translate(60px) rotate(-90deg);
}

.user-item>.default>.edit-panel {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
}

.add-user-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 800px) {
    .norseu-dialog {
        width: 100%;
        height: 90%;
    }
}

.add-user-dialog>* {
    margin-bottom: 20px;
}

.add-user-dialog>* {
    margin-bottom: 20px;
}

.scheme-icon {
    width: 7px;
    height: 7px;
    margin: 1px;
    border-radius: 100%;
}

.landing,
.landing>.norseu-tabpane>.norseu-tabpane-content,
.landing>.norseu-tabpane>.norseu-tabpane-content>* {
    height: 100%;
}

.norseu-tabpane-content {
    flex: 1;
    overflow: auto;
    height: 100vh;
}

.landing-tab-content>div {
    height: 100%;
}

.landing>.norseu-tabpane {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.landing-tab-button {
    color: grey;
    display: flex;
    flex-direction: column;
}

.landing-tab-button>i {
    font-size: 19px;
    margin-bottom: 5px;
}

.landing-tab-button>span {
    font-size: 10px;
}

.norseu-tab-button {
    flex: 1;
}

.norseu-tab-button.active>*>* {
    color: white;
}

.home {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.clearer1 {
    height: 100%;
    width: 100%;
    z-index: 1 !important;
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.home>* {
    z-index: 2;
    position: relative;
}

.home>.header {
    z-index: 3;
    width: 100%;
    display: flex;
    padding: 10px;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.home>.header>* {
    flex: 1;
    font-size: 15px;
    font-weight: bold;
    -webkit-text-stroke: 0.1px black;
}

.home>.content {
    height: 100%;
    margin-top: 50vh;
    align-self: flex-end;
}

.home>.content,
.preview {
    display: flex;
    flex-direction: column;
}

.preview {
    align-items: center;
    position: relative;
}

.preview>.blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 55%);
}

.preview>.title {
    z-index: 1;
    font-size: 3em;
    max-width: 400px;
    text-align: center;
}

.preview>.genres {
    z-index: 1;
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.preview>.controls {
    display: flex;
}

.preview>.controls>.b {
    margin: 15px;
    display: flex;
    color: white;
    font-size: 15px;
    flex-direction: column;
    border: none !important;
    background: transparent !important;
}

.preview>.controls>button>i {
    margin-bottom: 5px;
}

.preview>.controls>.play {
    margin: 15px;
    display: flex;
    color: black;
    border-radius: 7px;
    flex-direction: column;
}

.home>.content>.sections {
    display: flex;
    flex-direction: column;
}

.home>.content>.sections>.section {
    margin: 15px;
}

.home>.content>.sections>.section>span {
    font-weight: bold;
    margin-left: 10px;
}

.movie-list {
    display: flex;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 1px;
    flex-direction: row;
    background-color: black;
}

.movie-list>div {
    width: 150px;
    height: 200px;
    cursor: pointer;
    min-width: 150px;
    min-height: 200px;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.movie-list>div:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.3s ease-in-out;
}

.movie-list.vertical {
    height: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movie-list.vertical>div {
    flex: 1;
    max-width: 200px;
    margin-right: 10px;
}

.genre-button {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex !important;
}

.genre-button>i {
    font-size: 30px;
    margin-bottom: 10px;
}

.search {
    height: 90%;
    padding: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.watch-media {
    width: 100%;
    height: 100%;
}

.watch-show>.blured-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(30px);
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.watch-show {
    height: 100%;
}

.watch-show>.preview {
    padding: 20px;
    padding-top: 0px;
}

.watch-show>.preview>* {
    z-index: 2;
}

.watch-show>.preview>.blur {
    z-index: 1;
}

.watch-show>.preview>.header {
    z-index: 3;
    width: 100%;
    margin: 0px;
    padding: 15px;
    display: flex;
    position: fixed;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.watch-show>.preview>.header>span {
    cursor: pointer;
    font-size: 20px;
}

.watch-show>.preview>.header>span:hover {
    font-weight: bold;
}

.watch-show>.preview>.poster {
    width: 150px;
    height: 200px;
    margin-top: 18vh;
}

.watch-show>.preview>.main-controls {
    width: 100%;
    margin: 30px;
    margin-top: 40px;
}

.watch-show>.preview>.main-controls>.norseu-button-group {
    margin-top: 10px;
}

.ws-bg-b {
    display: flex;
    flex-direction: column;
}

.ws-bg-b>i {
    margin-bottom: 2px;
}

.watch-show>.preview>.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.watch-show>.preview>.synopsis {
    font-size: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
}

.watch-show>.preview>.synopsis,
.watch-show>.preview>.casts,
.watch-show>.preview>.released,
.watch-show>.preview>.genres {
    width: 100%;
    margin-top: 2px;
    text-align: left;
    margin-bottom: 2px;
}

.watch-show>.preview>.casts>span,
.watch-show>.preview>.genres>span {
    cursor: pointer;
}

.watch-show>.preview>.casts>span:hover,
.watch-show>.preview>.genres>span:hover {
    font-weight: bold;
}

.watch-show>.seasons-list {
    padding: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    border-top-style: solid;
    background-color: black;
}

.watch-show>.seasons-list > .norseu-dropdown-inputtext-panel {
    margin-left: 10px;
}

.watch-show>.seasons-list > .episode-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
}

.watch-show>.seasons-list > .episode-list > button {
    margin: 10px;
    width: 95%;
}

.watch-show>.seasons-list > .episode-list > button > i {
    margin-right: 10px;
}

.watch-show>.seasons-list > .episode-list > button > span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}


/* generall Styles */

.norseu-panel-content {
    height: 100%;
}

.video-responsive {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.norseu-tabpane-navigator>div {
    display: flex;
}

.norseu-tabpane-navigator {
    border: none !important;
}

.norseu-alert-dialog .norseu-dialog-content {
    height: 100%;
}

.norseu-dropdown-inputtext-panel {
    background-color: transparent !important;
}

.norseu-dropdown-inputtext {
    background-color: rgba(194, 204, 207, 0.2);
}

input {
    color: white;
}

.norseu-alert-dialog-footer>button {
    margin-right: 10px;
}

.norseu-dialog-content,
.norseu-popover {
    border: 1px solid white;
    background-color: black;
}

.invisible {
    display: none !important;
}

.skeleton-button {
    cursor: pointer;
    background-color: transparent;
    color: rgb(179, 177, 177);
    padding: 10px 20px 10px 20px;
    border: 2px solid rgb(179, 177, 177);
}

.skeleton-button:hover {
    background-color: rgb(179, 177, 177, 0.2);
}

::-webkit-scrollbar {
    width: 2px !important;
    height: 2px !important;
}